@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Jost:ital,wght@0,400;0,900;1,300&family=Tinos:wght@700&display=swap');

body {
    background-color: #FBF5F3;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.stack.imgur.com/oslRB.png");
    opacity: 1;
    letter-spacing: 0.9px;
    line-height: 1;
    text-align: center;
    }

.container {
    justify-content: space-evenly;
    width: 800px;
    margin: 0 auto;
}

.img-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: black;
    border-width: 1px;
}

.img-circle:hover {
    color: black;
    opacity: 0.7;
}

.card-white {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0px;
    text-align: center;
    border-radius: 4px;
}

.card-white h2 {
    font-family: 'Courgette', cursive;
}

.card-white::before {
    position: absolute;
    top: -20px;
    left: 5px;
    width: 100%;
    height: 100%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    pointer-events: none;
}

.card-white:hover {
    color: #f2f2f2;
    box-shadow: 10px 40px 80px rgba(0, 0, 0, 0.7);
}

.card-white:hover a {
    color: black;
}

.card-white:hover button {
    background-color: rgba(255, 210, 10, 0);
    color: black;
}

.card-white:hover #hidden-treasure {
    background-color: rgba(255, 210, 10, 0);
    color: white;
}
.card-white::after {
    position: absolute;
    bottom: -10%;
    right: 10%;
    opacity: 0.2;
    filter: invert(1);
    color: black
}

.card-white:hover,
.card-white:hover~.bg {
  opacity: 1;
  background: #e2a9e5;
background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
}

.list-nobullets {
    list-style: none;
    padding-left: 0;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

h1 {
    font-weight: bold;
    font-family: 'Tinos', serif;
    font-size: 40px;
}

h2 {
    font-weight: bold;
    font-size: 32px;
}

p {
    font-size: smaller;
}

a {
    text-decoration: none;
    color: #64B6AC;
}

a:hover {
    color: #3E7882;
    text-decoration: none;
}

.btn-orange {
    color: whitesmoke;
    background-color: #E28413;
    border-radius: 5px;
    margin: 5px 8px;
    padding: 14px 18px;
    font-weight: 500;
    border: #E28413;
    font-weight: bold;
    background-image: linear-gradient(bottom, rgb(236, 147, 44) 0%, rgba(250, 226, 181, 0.836) 100%);
    font-size: 12px;
}

.btn-orange:hover {
    background-color: #B15C0D;
    border: 2px solid #F7CD72;
}

#mottos {
    line-height: 0.7;
}

#hidden-treasure {
    color: black;
}

#hidden-treasure:hover {
    color: rgba(236, 236, 236, 0.966);
    font-weight: bold;
}
.icon-size {
    font-size: 32px;
    margin: 15px;
    padding-top: 10px;
}

.list-inline > li {
    display: inline-block;
    padding: 0px 20px;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

#footer {
    font-size: 40px;
}
